<h2>Welcome to the Shop</h2>

<p><%= link_to "Post an Item", new_item_path %>  |  <%= link_to "View My Listings", listings_path %>
<br/>
<br/>
<table>
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th>Details</th>
    <th>Seller</th>
  </tr>
  <% @item.each do |item| %>
    <div class="container text-center">
      <tr>
        <td><%= image_tag item.picture, class: 'img-thumbnail box', width: 120 if item.picture.attached? %></td>
        <td><%= "#{item.sub_category.name} #{item.description} #{item.brand} #{item.model} #{item.age} #{item.condition} "%></td>
        <td><%= "#{number_to_currency item.price}"%></td>
        <td><%= "#{item.user.email}"%></td>
        <td><%= link_to "Show Details", item_path(item.id) %></td>
      </tr>
    </div>
  <%end%>



</table>