<div class="shop-align">
    <br />
  </div>
  <br />
  <br />
  <div class="media col-sm">
    <%= image_tag @course.picture, class: "align-self-start mr-1", size: "250" if course.picture.attached? %>
    <div class="media-body col-sm">
      <h3 class="mt-0 text-center"><%="    #{@course.name}"%></h3>
      <br />
      <p><%="    #{@course.description}" %></p>
      <div class="d-flex justify-content-around">
        <div>
         <% if @course.holes == true %>
          <p><strong>Holes:</strong> 18 Holes</p>
         <% else %>
          <p><strong>Holes:</strong> 9 Holes</p>      
          <% end %>
        </div>
        <div><strong>Length: </strong><%="#{@course.length}" %></div>
        <div><strong>Difficulty: </strong><%="#{@course.difficulty}" %></div>
        <div><strong>Price: 18 holes -</strong> <%="#{number_to_currency @course.priceeighteen}"%><strong> / 9 holes - </strong><%="#{number_to_currency @course.pricenine}" %></div>
      </div>
    </div>
  </div>
  <br />
  
  <% if user_signed_in? %>
      <% if @can_add %> 
          <div class="d-flex justify-content-center"><%= link_to "Add to \"My Courses\" list", add_course_to_list_path(id: @course)%></div>
      <% else %> 
          <div class="d-flex justify-content-center"><%= link_to "Remove from \"My Courses\" list", profile_course_destroy_path(@course), method: "delete"%></div>     
      <% end %> 
  <% end %>
  <br />
    <div class="d-flex justify-content-center"><%= link_to "Back to Courses", courses_path %></div>

<hr />
<div> 
  <h4>Player's Reviews</h4>
  <% if user_signed_in? %>
    <%= link_to "Add Review", new_review_path(course: @course), class: "btn btn-success"%>
  <% end %>
    <%if @reviews%>
      <% @reviews.each do |review|%>
    <hr />
      <div>
        <p class="rating"><%= "Rated: #{review.rating} out of 5"%></p>
        <p><%="User: #{review.user_id}"%> 
        <p><%="Review: #{review.comment}" %></p>
      </div>
    <hr />
      <% end %>
    <% end %>
  </div>
  <hr />

  <br />
  <br />
  <%= form_with model: @course, :url => update_course_path do |form| %>

  <div class="field">
    <%= form.label(:picture, "Course Photo:") %>
    <%= form.file_field :picture, accept: 'image/png, image/gif, image/png, image/jpg' %>
    </div>

    <%= form.submit "Submit"%>

  <% end %>

</div>



