    


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><h1>MyGolf</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flexbox" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "Latest", home_path, class:"btn btn-success btn-lg" %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to "Profile", new_user_session_path, class:"btn btn-success btn-lg" %></button>     
          <% else %>
            <%= link_to "Profile", new_user_session_path, class:"btn btn-success btn-lg" %></button>  
          <% end %>   
        </li>
        <li>
          <%= link_to "Courses", new_user_session_path, class:"btn btn-success btn-lg" %></button>  
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button"><%= link_to "Buy/Rent", items_path%></button>
            <button class="dropdown-item" type="button"><%= link_to "Sell/Loan", new_item_path %></button>
          </div>
        </li>
    </ul>
  </div>
  <div class="header text-align-right">
    <% if user_signed_in? %>
      <p><%= link_to "Logout", destroy_user_session_path, method: "delete" %> | <%= current_user.display_name %> 
      <%= image_tag current_user.picture, class: 'img-thumbnail box profile', width: 200 if current_user.picture.attached? %> 
      </p>
    <% else %> 
      <p><%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Login", new_user_session_path %>
      </p> 
    <% end %> 
  </div>
</nav>



