<%= form_with model: @address do |form| %>

    <%= form.hidden_field :addressable_type, value: @user.addressable_type %>
    <%= form.hidden_field :addressable_id, value: @user.addressable_id %> 
    
    <div class="field">
      <%= form.label(:number, "Street No.")%>
      <%= form.text_field :number %>
    </div> 

    <div class="field">
      <%= form.label(:street, "Street:")%>
      <%= form.text_field :street %>
    </div>

    <div class="field">
      <%= form.label(:city, "City:")%>
      <%= form.text_field :city %>
    </div>

    <div class="field">
      <%= form.label(:state, "State:")%>
      <%= form.text_field :state %>
    </div>

    <div class="field">
      <%= form.label(:country, "Country:")%>
      <%= form.text_field :country %>
    </div>

    <div class="field">
      <%= form.label(:postcode, "Postcode:")%>
      <%= form.text_field :postcode %>
    </div>
    
    <div class="actions">
      <%= form.submit "Save Address" %>
    </div>  
  
  <% end %>
