<h1>My Game: Golf</h1>

<%= image_tag current_user.picture, class: 'img-thumbnail box', width: 200 if current_user.picture.attached? %>

<%= link_to "Shop", items_path%>
<br />
<%= link_to "Post an Item", new_item_path %>
<br/>
<%= link_to "Sign Up", new_user_registration_path %>
<br />
<%= link_to "Log Off", destroy_user_session_path, method: :delete %>

