<%= render "shared/profilenav" %>
<br />
<div class="d-flex justify-content-center"><h2>My Courses</h2></div>
<br />
<br />
<ul class="list-unstyled">
  <% @courses.each do |course| %>
      <li class="media col-sm">
        <%= image_tag course.picture, class: "align-self-start mr-1", size: "250" %>
        <div class="media-body col-sm">
            <h3 class="mt-0 mb-1"><%= "#{course.name}"%></h3>
            USER REVIEW AND RATING
          <div>
            <%= link_to "Show Course Details", course_path(course.id) %>
          </div>
          <div>
            <%= link_to 'Remove', course, method: "delete"%>
          </div>   
        </div>
      </li>
      <br />
  <% end %>
</ul>
