<%= render "shared/profilenav" %>
<br />
<div class="d-flex flex-column justify-content-center"><h4>My Profile</h4>
<br />
  <div class="row">
    <div class="col-md-4">
      <%= image_tag current_user.picture, class:"card-img-top", size: "200" %>
    </div>
    <div class="col-6">
      <%="Display Name: #{current_user.display_name}"%>
      <br /> 
      <br />
      <%="Name: #{current_user.last_name} #{current_user.last_name}"%>
      <br />
      <br />
      <%="Email: #{current_user.email}"%>
    </div>
  </div>
</div>
  
